.App {
  /* text-align: center; */
  /* display: flex; */
  /* flex-direction: column; */
  /* font-family: 'Orbitron', sans-serif; */
  text-align: center;
  justify-content: center;
  /* background-image: url("./images/cosmos.jpg"); */
  background-color: black;
  height: 100vh;
  color: rgb(233, 252, 252);
}

.row1 {
  /* text-align: center; */
  /* background-color: black; */
  /* font-family: 'Orbitron', sans-serif; */
  font-family: 'Tajawal', sans-serif;
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
  padding-bottom: 0.2rem;
  border-bottom: 1px solid rgb(233, 252, 252);  
}

.row2 {
  /* text-align: center; */
  /* background-color: black; */
  /* font-family: 'Share Tech Mono', monospace; */
  font-family: 'Tajawal', sans-serif;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}

.display {
  /* border: 0.5rem solid rgb(233, 252, 252);
  border-radius: 1rem; */
  /* font-family: 'Orbitron', sans-serif;
  font-size: 2rem; */
  /* font-family: 'Share Tech Mono', monospace; */
  margin-top: 1rem;
  margin-left: 2rem;
  
  /* height: 20vh; */
  /* color: #daf6ff; */
  /* text-shadow: 0 0 20px rgba(10, 175, 230, 1),  0 0 20px rgba(10, 175, 230, 0); */
}

.date {
  display: flex;
  flex-direction: row;
  margin-right: 4rem;
  /* margin-bottom: 0.3rem; */
  /* font-family: 'Orbitron', sans-serif; */
  /* font-size: 3rem; */
  justify-content: left;
}

.date span {
  margin-right: 1rem;
}

.clock {
  display: flex;
  /* flex-direction: row; */
  margin-right: 4rem;
  /* font-size: 2rem; */
  /* font-family: 'Orbitron', sans-serif; */
  /* font-size: 3rem;   */
}

.clock-element-main {
  width: 2.5rem;
  text-align: center;
}

.clock-element-colon {
  width: 1rem;
  text-align: center;
}

.clock-labels {
  display: flex;
  flex-direction: row;
  margin-right: 4rem;
  /* font-family: 'Orbitron', sans-serif; */
  /* font-size: 3rem; */
  justify-content: left;
}

.weather {
  /* font-family: 'Orbitron', sans-serif; */
  /* font-family: 'Share Tech Mono', monospace; */
  /* font-size: 2rem; */
  margin-top: 1rem;
  margin-right: 2rem;  
  /* height: 20vh; */
  text-align: right;
}

.weather-line {
  /* margin-bottom: 0.3rem; */
}

.weather-item {
  margin-left: 1rem;
  margin-right: 1rem;
}

.coordinates {
  display: flex;
  flex-direction: column;
  margin-right: 4rem;
  /* font-family: 'Orbitron', sans-serif; */
  font-size: 3rem;
  justify-content: left;
  text-align: left;
  margin-left: 2rem;
}

.image {
  height: 40rem;
}

.image-heading-container {
  /* color: rgb(233, 252, 252); */
  font-size: 2rem;
  margin: 2rem 3rem 1rem 3rem;
}

.image-heading {
  text-decoration: none;
  color: rgb(233, 252, 252);
  font-size: 2rem;
  margin: 2rem 3rem 1rem 3rem;
}

.image-title {
  font-size: 2rem;
  margin: 1rem 3rem;
}

.image-explanation {
  font-size: 1rem;
  margin: 1rem 3rem;
}

