.App {
  text-align: center;
}


.clock {
  display: flex;
  flex-direction: row;
  margin: 4rem;
  font-family: 'Orbitron', sans-serif;
  font-size: 5rem;
}

.clock-element-main {
  width: 10rem;
}

.clock-element-colon {
  width: 3rem;
}



